body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /* height: 100; */
}

p {
    padding: 0;
    margin: 0;
}

.section-1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    justify-content: space-between;
    gap: 75px;
    padding: 10px 100px 70px 100px;
    /* align-items: center; */
}

.header {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    flex: 0 1 1800px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    /* margin-right: auto; */
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 32px;
    /* margin-left: auto; */
}

.sec-1-content {
    display: flex;
    /* width: 600px; */
    justify-content: space-evenly;
}

.sec-1-container {
    display: flex;
    flex: 0 1 1200px;
    justify-content: space-evenly;
    gap: 46px;
}

.sec-1-left {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    min-width: 400px;
}


.sec-1-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.sec-1-left-content, .sec-1-left-content-2{
    color: #f9faf8;
    font-size: 18px;
}

.sec-1-left-content-2 {
    margin-top: auto;
}

.sec-1-sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 5px 24px;
    border-radius: 6px;
    /* margin-top: auto; */
    align-self: flex-start;
}

.sec-1-right {
    display: flex;
    /* background-color: #e5e7eb; */
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.sec-1-right p {
    color: red;
}

.rainbow-over-mountain {
    width: 400px;
    border-radius: 15px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding: 32px 100px 70px 100px;
    gap: 32px;
}

.sec-2-title {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 48px;
}

.sec-2-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sec-2-info-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 50px;
    /* width: ; */
    /* align-self: center; */
    flex: 0 1 1853px;
}

.sec-2-info {
    display: flex;
    flex-direction: column;
    /* flex: 1 1 auto; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    text-align: center;
    gap: 8px;
    color: #1f2937;
}

.image-holder-sec-2 {
    border: 3px solid #3882f6;
    /* border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1; */
    /* height: 150px; */
    /* width: 150px; */
    border-radius: 15px;
    display: flex;
    /* flex: 1 1 auto; */
}

.sec-2-image {
    width: 125px;
    /* flex: 1 1 auto; */
    padding: 16px;
}

.section-3 {
    background-color: #e5e7eb;
    padding: 70px 100px 70px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-3-content {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.sec-3-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    align-self: flex-start;
   
}

.sec-3-quote-author {
    font-size: 36px;
    color: #1f2937;
    align-self: flex-end;
}

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 100px;
}

.sec-4-content {
    background-color: #3882f6;
    padding: 35px 75px;
    display: flex;
    justify-content: space-evenly;
    gap: 75px;
    border-radius: 6px;
}

.sec-4-content-left p {
    color: #f9faf8;
}

.sec-4-call-to-action {
    font-size: 24px;
}

.sec-4-sign-up {
    border: 1px solid #f9faf8;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 5px 24px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    align-self: center;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #e5e7eb;
    padding: 36px;
}